@page "/{vendor}/{chip}"
@using BlazorApp.Shared
@inject HttpClient Http


<PageTitle>@chip | Review</PageTitle>

<p>Chip : @chip</p>
<p>Vendor : @vendor</p>


<p>@reviewCount Reviews</p>
@if (vendor == null)
{
    <p><em>Loading reviews...</em></p>
}
else
{
   
    @foreach (var review in reviewList)
            {
                <p>
                    <p>@review.Chip</p>
                    <p>@review.Vendor</p>
                    <p>@review.Username</p>
                    <p>@review.ReviewText</p>
                </p>
            }
}




@code {
    [Parameter]
    public string? vendor { get; set; }
    [Parameter]
    public string? chip { get; set; }
}


@functions {
    List<BlazorApp.Shared.Review> reviewList;
    int reviewCount = 0;

    protected override async Task OnInitializedAsync()
    {

        //get a list of reviews from API server by chip & vendor
        reviewList = await ServerManager.GetReviewList(chip, vendor);

        //set the review count
        reviewCount = reviewList.Count;
       
    }
}
